
body {

    padding-top: 70px;

}


.smiley {

	background: linear-gradient(135deg, rgb(255, 108, 199) 0%, rgb(255, 25, 102) 100%);

	border-radius: 65%;

	padding: 25px;

	position: relative;

	width: 150px;

	height: 150px;

	left: 50%;

	top: 50%;

    box-shadow: rgba(211, 165, 110, 0.498039) 0px 30px 30px 1px, rgb(245, 245, 245) 0px 20px 10px 1px;
    

}


.smiley{
        animation: transform 1s ease;
        animation-delay: 2s;
        animation-duration: 1s;
        animation-iteration-count: 1;
        }


@keyframes transform {
    
        0%{
        transform: translateX(0px);
        }
        
        50%{
        transform: translateX(100px);
        }
    
        100%{
        transform: translateX(200px) rotate(30deg);
        }
        
        }


.mouth {

  width: 60%;

  height: 30%;

  border-top-left-radius: 0;

  border-top-right-radius: 0;

  border-bottom-left-radius: 100px;

  border-bottom-right-radius: 100px;

  box-sizing: border-box;

  position: absolute;

  bottom: 18%;

  left: 50%;

  margin-left: -30%;

  background: white;

}

.mouth {
    animation: smile 1s ease infinite;
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-iteration-count: 1;
    }


@keyframes smile {

    0%{
        width: 60%;
        height: 30%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    
    50%{
        width: 30%;
        
    }

    100%{
    
        width: 60%;
        height: 30%;

    }
    
    }



.eyes {

  width: 100%;

  margin-top: 15%;

  box-sizing: border-box;

  padding: 0 20px;

}



.eyes .eye {

  width: 20px;

  height: 20px;

  background: rgb(55, 123, 212);

  float: left;

  border-radius: 100%;

  position: relative;

}



.eyes .eye:nth-of-type(2) {

  float: right;

}

.eye:nth-of-type(2) {

    animation: wink 1s ease-out;
    animation-delay: 5s;
    animation-duration: 1s;
    animation-iteration-count: 3;

}

@keyframes wink {

    0%{
        height: 20px;  
    }

    50%{
        height: 10px;  
    }

    100%{
        height: 20px;  
    
    }
    



}



